body {
background-color: #0073CF;
}

h1, h2 {
  padding-left: 10px;
}

.todo-app {
  background-color: white;
  border-radius: 10px;
  margin: auto;
  margin-top: 60px;
  height: 550px;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.list {
  margin: auto;
}

.form {
  margin: auto;
  display: flex;
}

.form-button {
  color: white;
  background-color: #0073CF;
  border: none;
  padding: 10px 25px;
  font-size: 16px;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
}

.form-button:hover {
  background-color: #4CAF50; /* Green */
}
.form-button:active {
  background-color: #3e8e41;
}

.form-input {
  border: 1px solid #555;
  outline: none;
  box-sizing: border-box;
  padding: 6px;
  margin: auto;
  border-radius: 10px;
  font-size: 20px;
}

.form-input:focus {
  background-color: #F3F4F5;
}