body,html {
background-color: #066acd;
display: flex;
justify-content: center;
margin: 0;
}

h1, h2 {
  padding-left: 10px;
}

.todo-app {
  background-color: white;
  border-radius: 10px;
  margin: auto;
  margin-top: 60px;
  height: 550px;
  width: 650px;
  display: flex;
  flex-direction: column;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

.list li {
  cursor: default;
  background-color: #d1f0f3;
  border: 2px solid  #c7c7c7;
  height: 50px;
  width: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 3px;
  border-radius: 5px;
  font-size: 20px;
}

.list li:hover {
  background-color: #c3e8ec;
}

.list input {
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.btn-delete {
  margin-right: 5px;
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  background-color: #dc3545;
}

.btn-delete:hover {
  background-color: #c82333;
}

.form {
  height: 40px;
  display: flex;
  justify-content: center;
}

.form-button {
  color: white;
  background-color: #0d75ec;
  margin-left: 10px;
  border: none;
  padding: 10px 25px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.form-button:hover {
  background-color: #4CAF50; /* Green */
}
.form-button:active {
  background-color: #3e8e41;
}

.form-input {
  border: 1px solid #555;
  outline: none;
  box-sizing: border-box;
  padding: 6px;
  border-radius: 5px;
  font-size: 20px;
}

.form-input:focus {
  background-color: #F3F4F5;
}